@model Assignment3.Models.Phone
@{
	ViewBag.Title = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Phone Details</h2>
<ul>

	<li>
		Phone Name: @Model.PhoneName
	</li>
	<li>
		Brand Type: @Model.Brand.BrandName
	</li>
	<li>
		Release Date: @Model.DateReleased.ToShortDateString()
	</li>
	<li>
		Screen Size: @Model.ScreenSize
	</li>
	<li>
		Phone type: @Model.PhoneType.Type

</ul>
