@model VidPlace.ViewModels.CustomerFromViewModel
@{
    ViewBag.Title = "CustomerForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer</h2>
@using (Html.BeginForm("Save", "Customers"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Customers.Name, "Customer Name")
        @Html.TextBoxFor(m => m.Customers.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customers.Address)
        @Html.TextBoxFor(m => m.Customers.Address, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customers.MembershipID)
        @Html.DropDownListFor(m => m.Customers.MembershipID, new SelectList(
       Model.Memberships, "ID", "Name"), "Please select a membership", new { @class = "form-control" })
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Customers.IsSubscribedToNewsletter) Subscribed To Newsletter
        </label>
    </div>

}

